*{
  margin:0;
  padding:0;
}
*:focus {
    outline: 0 !important;
}

body {
  font-family: 'EB Garamond', serif;
}

p {
  color:black;
}

#wrapper {
  position:relative;
  height:100vh;
  width:100vw;
  background-image: url("assets/mapBlanc.png");
  background-repeat: no-repeat;
  background-position: 95% 80%;
  background-size: 50%;
  background-color: #F9E998;
  display:block;
}

#main {
  position:absolute;
  top:10vh;
  left:0;
  height:90%;
  border-style:solid;
}

nav {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  background-color: white;
}

nav ul li {
  list-style:none;
  margin:30px;
  float: right;
}
nav ul li:first-child {
  float: left;
}

a {
  text-decoration: none;
  color:black;
}

button {
  font-family: 'EB Garamond', serif;
  border: none;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
}
